<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oh_client_id</key>
	<string>8yvU2liKbpBhoWjOGB1G7bEmrLGAyoiQeJP6BjrD</string>
	<key>oh_client_secret</key>
	<string>h0rskXOQVrCCgBM1ird3lwAFxBDyL42NNiCjFphNIIf2zrBtAdbNQAvu8F9nXrJ7NE8fNCaoKno7WZq09DJ7MDt7GIhW4LHQvo6WSPVbMX5wohZ3UHCih0jVtkUQng0T</string>
	<key>oh_master_token</key>
	<string>NgE1SWYfuH9ZphNz8rSEbMxEWMOGN3GgjUb1apKpuoA0tE0YwGstn9YmnExczvr2</string>
	<key>oh_url_prefix</key>
	<string>openhumanshk</string>
</dict>
</plist>
